.menu-list a.is-active { background-color: var(--primary-color); color: white; }
@media screen and (max-width: 768px) {
    #admin-sidebar { 
        display: none; 
        position: absolute; 
        width: 100%; 
        z-index: 20; 
    }
    #admin-sidebar.is-active { 
        display: block; 
    }
}
.table-container { 
    overflow-x: auto; 
}