.menu-list a.is-active { 
    background-color: var(--primary-color); 
    color: white; 
}
@media screen and (max-width: 768px) {
    #admin-sidebar { 
        display: none; 
        position: absolute; 
        width: 100%; 
        z-index: 20;
    }
    #admin-sidebar.is-active { 
        display: block; 
    }
}
.color-picker-card {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    display: none;
    padding: 10px;
}